<li>
	{{id}}. {{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat 'em up!{{else}}WAKE UP!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">Hard Pass!</button> --}}
</li>
